@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        background-color:#545454;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .container{
        height: 100vh;
       }

       .card{
        min-height: 510px;
        width: 520px;
        border: none;
        border-radius: 15px;
        padding: 40px;
        background-color: #fff;
        position: relative;
        height: auto;
        padding-bottom: 100px;
        transition:  transform 1s ease-in-out ;
       }

       

       .upper{

        height: 250px;

       }
       
      

       .upper img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: rgb(255, 72, 72) 1px solid ;
        

       }

       .user{
        position: relative;
        margin-bottom: 10px;
       }

       .profile img{
      left: 2px;
          height: 100px;
          width: 100px;
        position: absolute;
        right:5px ;
        bottom: 5px;
          border: rgb(255, 72, 72) 1px solid ;
         
      
        
       
       }

       .profile{

        position: absolute;
        top:-50px;
        left: 38%;
        height: 90px;
        width: 90px;
        border:3px solid #fff;
        
        
        border-radius: 50%;

       }

       .follow{

        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        height: 35px;
       }

       .stats span{
        
        font-size: 29px;
       }

       
       .stats1 {
        margin-right: 20px;
        
       }
       a{
        list-style: none;
        text-decoration: none;

       }

    

       /* .card:hover{
        transform: rotateY(180deg);
       }

       .card figure{
        width: 100%;
        height: 100%;
        position: absolute;
       }

       
       .Card-back{
        background-color: red;
        transform: rotateY(180deg);
       } */

       @media screen and (max-width: 600px) {
        
        .upper{

          height: 150px;
  
         }
        /* .stats{
          margin-right: 50px;
         } */

          .profile img{
            height: 80px;
            width: 80px;
         display: flex;
            align-items: center;
         margin-top: 50px;
         justify-content: center;
         margin-right: 150px;
            border: rgb(255, 72, 72) 1px solid ;
           
        }


        .profile{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 90px;
          width: 90px;
          margin-left: -5px;          
  
         }
      }